[submodule "Assets/Third-party/GoldEcs"]
	path = Assets/Third-party/GoldEcs
	url = https://github.com/JackLite/GoldEcs.git
[submodule "GoldEcs"]
	path = Assets/Game/Third-party/GoldEcs
	url = https://github.com/JackLite/GoldEcs.git
